body {
  background-color: rgb(91, 31, 147);
}
h1 {
  text-align: center;
  color: rgb(36, 72, 189);
}
h2 {
  text-align: center;
}
span {
  color: orange;
}
ul {
  text-align: center;
  list-style-position: inside;
}
fieldset {
  border-radius: 20px;
}
input[type="text"] {
  border-radius: 20px;
}
input[type="submit"] {
  border: 1.5px solid pink;
  border-radius: 20px;
}
.p1,
.p2 {
  background-color: rgba(0, 255, 255, 0.679);
}
p {
  background-color: rgba(218, 165, 32, 0.753);
  border: 2px solid rgb(231, 55, 234);

  border-radius: 10px;
}
.input {
  text-align: center;
}
.form {
  margin: 5px;
}
